Rest Subflow.txt
[{"id":"2b1b4f46.694ca","type":"http response","z":"f78f2d2c.a4b2f","name":"","x":982,"y":308,"wires":[]},{"id":"c9f4a06c.96127","type":"http in","z":"f78f2d2c.a4b2f","name":"REST API","url":"/botchat","method":"post","swaggerDoc":"","x":156,"y":308,"wires":[["d7759aab.d5e7e8"]]},{"id":"d7759aab.d5e7e8","type":"function","z":"f78f2d2c.a4b2f","name":"Pre Service Processing","func":"msg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":308,"wires":[["fbb4c153.1c778"]]},{"id":"82aa97e8.d7f448","type":"function","z":"f78f2d2c.a4b2f","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":779,"y":308,"wires":[["2b1b4f46.694ca"]]},{"id":"fbb4c153.1c778","type":"watson-conversation-v1","z":"f78f2d2c.a4b2f","name":"My Bot","workspaceid":"058d499a-93cd-4a0e-9810-364e3f56b434","multiuser":false,"context":true,"x":571,"y":308,"wires":[["82aa97e8.d7f448"]]}]